*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
header h1{
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.form_cobro_actividades div img{
    width: 4%;
    height: 4%;
}
body{
    margin: auto;
    height: auto;
    color: white;   
}

/*div_contenedor opaco*/
.div_contenedor{
    background: black ;
    opacity: 80%;
    padding: 20px;
}
/*div busqueda y seleccion opciones*/
body div .label_busqueda{
    font-size: 17px;
    display: inline-block;
    width: 100%;
    border: 1px black solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: white;
}
body div .label_busqueda img{
    margin-left: 20px;
}
body div .label_busqueda .input_cednom_socio{
    border-radius: 12px;
    width: 40%;
    border:black solid 2px;   
    font-size: 17px;
    font-weight: bold;
    padding: 5px;

}
.label_inputcheck{
    margin-left: 30%;
    font-size: 17px;
    font-weight: bold;
}
#inputdos_check_busqueda{
    margin-left: 1%;
}

.label_inputcheck, .inputcheck_busqueda_socio{
    display: inline-block;

}
/*/div busqueda y seleccion opciones*/

/*div datos cliente*/
/*dise単o de los campos del formulario*/
.cont_contenedores{
    width: 95%;
    border: 1px black solid ;
    margin: auto;
    margin-top: 5px;
}
/*contenedor grande*/
.cont_campos_form_registro{
    height: 30px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border: 2px black solid;
    padding-bottom: 5px;
    margin-bottom: 40px;
    border-radius: 15px;
}
.label_campos_form_registro_socios{
    float: left;/*para que el texto se mueva a la izquierda*/
    padding-left: 40px;
    
}
/*campo de ingreso*/
.campo_form_registro_socios{
    width: 90%;
    height: 25px;
    border-radius: 15px;
    padding: 5px;
    border: 2px black solid;
    font-size: 17px;
    font-weight: bold;
}


/*dise単o etiquetas de anticipos y deuda*/
.anticipo{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-left: 23%;
    margin-bottom: 10px;

}
.static_input_form_cobro_cuotas{
    border-radius: 15px;
    width: 10%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
/*/dise単o etiquetas de aticipos*/

/*area botones*/
.botones{ 
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
/*dise単o botones*/
.btn_form_cobro_actividades{
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;  
    text-align: center;
    width: 15%;
    height: 5vh;
    font-size: 16px;
    background: linear-gradient(rgb(59, 59, 238), rgb(191, 191, 231), rgb(24, 24, 206));
    transition: all 0.2s ease 0s;
}
.btn_form_cobro_actividades:hover{
    color: white;
    width: 16%;
    height: 6vh;
    background: linear-gradient( rgb(191, 191, 231),rgb(59, 59, 238), rgb(24, 24, 206));
    box-shadow: 0 0 30px white;
}
